@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='text'],
input[type='password'],
input[type='tel'],
input[type='email'],
input[type='number'] {
    @apply w-full border mb-16 py-4 px-3 rounded-lg;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: large;
}

textarea {
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}

textarea {
    height: 140px;
}

button {
    @apply bg-gray-300;
}

button.primary {
    background-color: #F5385D;
    @apply bg-primary p-2 w-full text-white rounded-2xl;
}

.relative {
    position: relative;
}

.active::after,
.inactive::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    /* Set the desired width for the bottom border */
    height: 4px;
    /* Set the desired height for the bottom border */
}

.active::after {
    background-color: black;
}

.inactive::after {
    background-color: transparent;
}